/*RESET */
body {
    font-family: Arial, sans-serif;

}

nav {
    background-color: #3ABCB2;
    padding: 10px;
}

.encabezado {
    background-color: #045e56;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

nav ul li a:hover {
    background-color: #036e55;
}

.cuerpo {
    background: linear-gradient(to bottom, #2e9d96);
    margin: 0;
    font-family: Arial, sans-serif;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    max-height: 60px;
}


.contorno {
    display: flex;
    height: 10px;
}

.input {
    padding: 15px;
    width: 350px;
    border-radius: 10px 0 0 10px;
    border: 0;
    outline: none;
    flex: 1;
}

.botom {
    background-color: brown !important;
    padding: 15px;
    border: 0;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.info {
    border-radius: 30px;
    background-color: #045e5771;
    display: flex;
    align-items: center;
    /* Alinea verticalmente el párrafo con la imagen */
    width: 95%;
    justify-content: center;
}

.circulo {
    max-height: 100px;
    margin-right: 20px;
    /* Espacio entre la imagen y el párrafo */
    border-radius: 50%;
    /* Hace que la imagen sea circular si es cuadrada */
}
/*FORMULARIO*/
::after
::before {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Moderustic", sans-serif; 
    height: 100vh; 
    background-image: linear-gradient(#306fd5, #b6dbf9);
}
input{
    font: inherit;
}
.form{
    margin: 40px auto;
    padding: 3rem 1.5rem;
    background-color: #f6e7e7;
    width: min(280px,350px);
    border-radius: 10px;
}
.form_title{
  font-size: 1.1rem;  
}
.form_subtitle{
    margin-top: .5rem;
    color: #9c9999;
}
.form_inputs{
    margin:2rem 0 1.5rem;
    display:grid;
    gap:1.5rem;
    color: #6b6b6b;
}
.form_label{
    width: 100%;
    display: grid;
    grid-template-areas: "input";
}
.form_input{
    grid-area: input;
    width: 80%;
    border-radius: 10px;
    border: 1px solid #d7d0d0;
    padding: .7rem 1.5rem;
    color: #6b6b6b;
}
.form_text{
    grid-area: input;
    z-index: 100;

    width: max-content;
    height: 100%;

    margin-left: 1rem;
    padding: 0 .5rem;

    display: flex;
    align-items: center;

    transform-origin:left center;
    transition: transform .3s;
}
.form_input:focus+ .form_text,
.form_input:not(:placeholder-shown) + .form_text{
    background-color: rgb(242, 234, 234);
    transform: translateY(-60%) scale(.7);
}

.form_submit{
    display:inline-block;
    border-radius: 10px;
    background-color: #746cc0;
    padding: 1rem 2rem;
    color: white;
    border: none;
}
.form_submit:hover{
    background-color: #476ee4;
    cursor:pointer;
}
/*team*/
::before
::after{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', sans-serif;
}
